
*{
    margin:0;
    padding: 0;
}
#icons{
    display:flex;
  gap:5rem;
  justify-content: center;
margin-top:40px;

}
#comment{

    background-color: rgb(71, 9, 241);
    
    font-size: larger;
    display: inline;
    line-height: 10rem;
    font-size: 3rem;
    border-radius: 5px;
    text-align: center;
    margin-left:700px;

}
#score{
    display:flex;
    justify-content: center;
    align-self: center;
    gap:2rem;
    margin-top:3rem;
    font-size: larger;
    
    
    
}
.icon{
    border-radius: 50%;
}
.icon:hover{
    background-color: black;
}
.score-board #you{
    font-size: 50px;
}
.score-board #comp{
    font-size: 50px;
}
.name{
    line-height: 5rem;
    text-align: center;
    font-size: 5rem;
    background-color: blueviolet;
}